* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;

  background: #131313;
  color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: unset;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
